
// Fonts
@font-face {
  font-family: 'Sarabun';
  font-weight: 400;
  src: url('../fonts/Sarabun-Light.ttf');
}
@font-face {
  font-family: 'Sarabun';
  font-weight: 300;
  src: url('../fonts/Sarabun-Light.ttf');
}
@font-face {
  font-family: 'Sarabun';
  font-weight: 700;
  src: url('../fonts/Sarabun-Bold.ttf');
}

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
